---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Mohana Sundarams, a Software Engineer from India.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>Java</li>
        <li>Javascript</li>
        <li>Golang</li>
        <li>Python</li>
        <li>Spring Boot</li>
        <li>NodeJs</li>
        <li>Gin</li>
        <li>PostgreSQL</li>
        <li>MySQL</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about learning to play Guitar, Draw and
      Reading Books.
    </p>
  </div>
</Card>
